@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

$color-initial: #fff !default;
$color-primary: lighten(#9b4dca, 10%) !default;
$color-secondary: #606c76 !default;
$color-tertiary: #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$font-family: 'Courier New';

.two-minutes {
  position: fixed;
  /*top: 20px;*/
  /*right: 20px;*/
  left: 20px;
  bottom: 20px;
  width: 100px;
  box-sizing: border-box;
  border-radius: 8px;
  /*height: 100px;*/
  color: white;
  background-color: rgba(60, 60, 60, .9);
  z-index: 1000000;
  text-align: center;
  padding: 10px;
  @include transition(all .3s);
  font-family: $font-family !important;
  outline: none;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
  &:focus {
    /*box-shadow: 0 0 3px 3px rgba($color-primary, .3);*/
  }
  &.active {
    background-color: rgba(60, 60, 60, .7);
  }
  .two-minutes-sub {
    min-height: 16px;
    height: 16px;
    line-height: 16px;
    margin-bottom: 0px;
    color: #999;
    font-size: 12px;
    font-family: $font-family !important;
  }
  .two-minutes-main {
    min-height: 30px;
    height: 30px;
    line-height: 30px;
    color: white;
    margin-bottom: 5px;
    font-size: 25px;
    /*font-weight: bold !important;*/
    font-family: $font-family !important;
  }
  .two-minutes-button {
    background-color: $color-primary;
    border: 1px solid $color-primary;
    border-radius: 5px;
    color: $color-initial;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    height: 30px;
    letter-spacing: .1rem;
    line-height: 30px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    &:hover,
    &:focus {
      background-color: $color-secondary;
      border-color: $color-secondary;
      color: $color-initial;
      outline: 0;
    }

    &.two-minutes-button-disabled,
    &[disabled] {
      opacity: .5;
      cursor: default;
      &:hover,
      &:focus {
        background-color: $color-primary;
        border-color: $color-primary;
      }
    }
    &.two-minutes-button-outline {
      color: $color-primary;
      background-color: transparent;
      &:hover,
      &:focus {
        color: $color-secondary;
        background-color: transparent;
        border-color: $color-secondary;
      }
      &.two-minutes-button-disabled,
      &[disabled] {
        &:hover,
        &:focus {
          color: $color-primary;
          border-color: inherit;
        }
      }
    }
  }
}

.two-minutes-flash {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($color-primary, .85);
  z-index: 19850403;
  h1 {
    color: white;
    font-size: 100px;
    text-align: center;
    margin-top: 400px;
  }
  -webkit-animation: fadeinout 1s ease-in forwards;
  animation: fadeinout 1s ease-in forwards;
  opacity: 0;
}

@-webkit-keyframes fadeinout {
  50% { opacity: 1; }
  /*100% { opacity: 1; }*/
}

@keyframes fadeinout {
  50% { opacity: 1; }
  /*100% { opacity: 1; }*/
}
