@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

#two-minutes {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 100px;
  box-sizing: border-box;
  height: 100px;
  color: white;
  background-color: #666;
  z-index: 1000000;
  text-align: center;
  padding: 10px;
  @include transition(background-color .5s);
  font-family: 'Courier New';
  &.active {
    background-color: #000;
  }
  .sub {
    min-height: 16px;
    margin-bottom: 5px;
    color: #999;
    font-size: 12px;
  }
  .main {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
  }
}

#two-minutes-flash {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 0, 0, 0.5);
  z-index: 1000001;
  -webkit-animation: fadeinout .5s ease-in forwards;
  animation: fadeinout .5s ease-in forwards;
  opacity: 0;
}

@-webkit-keyframes fadeinout {
  50% { opacity: 1; }
}

@keyframes fadeinout {
  50% { opacity: 1; }
}
