body {
  padding: 10px;
  font-size: 14px;
}

.two-minutes-popup {
  min-width: 250px;

  label {
    cursor: pointer;
  }

  hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 15px auto;
  }

  h5 {
    font-size: 12px;
    margin: 0 0 5px;
  }

  strong {
    font-family: 'Courier New';
  }

  .help-text {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
  }
}
